

body {
    background-color: #551166 !important;
    

}

#survey-form {
    background: #000000;
    border-radius: 10px;
    display: flexbox;
    margin: 0 auto;
    max-width: 900px;
    box-shadow: 10px 10px 10px rgb(217, 8, 224);
    padding: 20px 20px;
}

/* Title */
#title, #description {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 2.5em;
    text-align: center;
    color: rgb(200, 200, 200);
    text-shadow: 2px 2px 2px black;
    max-width: 30em;
    margin: 0 auto;
    padding-bottom: 10px;
}

.selectors, #optionCheck {
    padding: 10px 10px;
}

textarea {
    max-width: 100%;
    height: auto;
}

/* Question Boxes */
.questionTitle {
    text-align: center;
    display: block;
    border: solid 4px whitesmoke;
    box-shadow: 0px 0px 20px rgb(217, 8, 224, 0.9);
    /* this sets the maximum width, the margin will pad out the rest around it, creating pretty centered things */
    max-width: 400px;
    margin: 0 auto;
    height: auto;
    /* border-radius: 50px 5px 50px 5px; */
    background-color: black;

}

.questionTitle > p {
    color: rgb(9, 224, 214);
    text-shadow: -2px 2px 10px rgb(190, 205, 218);
    font-size: 1.7em;
}

.questionForm  {
    font-size: 1.25em;
    margin: 0 auto;
    padding: 20px;
    display: table;
    color: white;
    }

/* Use these rules to modify placeholder text */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #551166;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #551166;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #551166;
  }


#submit {
    background: transparent;
    animation-name: example !important;
    animation: 4s;
    animation-iteration-count: infinite;
  }

#submit:hover {
    background: -webkit-linear-gradient(top left, #06304A, #4ACC98);
    background: -moz-linear-gradient(top left, #06304A, #4ACC98);
    background: linear-gradient(to bottom right, #06304A, #4ACC98);
    
  }

  @keyframes example {
    0%   {background-color: #06304A;}
    30% {background-color: #4ACC98;}
    40% {background-color: #06304A;}
    60% {background-color: #4ACC98;}
    80% {background-color: #06304A;}
    90% {background-color: #4ACC98;}
    100% {background-color: #06304A;}

  }

.credits {
    color: white;
}